@import "./select-component.scss";

@mixin input-style {
  height: 4em;
  box-shadow: 0 1px 10px var(--fontColor);
  border-radius: 5px;
}

$translate-input: 15%;

.controllers {
  margin-top: 10em;
  position: relative;
  i {
    font-size: 1.6em;
    opacity: 0.7;
    position: relative;
    left: 10%;
    color: var(--textColor);
  }

  &-search {
    @include input-style;

    background-color: var(--inputColor);
    transition: var(--fadeTransition);
    &-input {
      width: 100% - ($translate-input + 2%);
      height: 100%;
      border: none;
      transform: translateX($translate-input);
      position: relative;
      padding: 1em;
      font-size: 1em;
      background-color: var(--inputColor);
      transition: var(--fadeTransition);

      &::placeholder {
        font-size: 1.2em;
        color: var(--textColor);
        opacity: 0.8;
      }
    }
  }
}
