
@import './select-component.scss';

@mixin input-style {
    height: 4em;
    box-shadow: 0 1px 10px var(--darkGray);
    border-radius: 5px;
  }

.controllers{
    margin-top: 2em;
    position: relative;
    i{
        font-size: 1.4em;
        opacity: 0.3;
        position: absolute;
        top: 1em;
        left: 2em;
    }

    &-search{
        @include input-style;
        
        &-input{
            width: 77%;
            height: 100%;
            border: none;
            transform: translateX(30%);
            position: relative;
          
            
            &::placeholder{
                font-size: 1.2em;
                color: var(--darkGray);
                opacity: 0.5;
            }
        }
    }
  
}