.header {
  background-color: var(--elementsColor);
  box-shadow: 0 1px 10px var(--fontColor);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: var(--fadeTransition);
  h1 {
    font-size: 1em;
  }

  p {
    font-weight: 600;
    font-size: 1em;

    i {
      margin-right: 10px;
      transition: all 0.2s ease-in;
      &:hover {
        cursor: pointer;
        transform: rotateZ(20deg) scale(2);
      }
    }
  }
}
