@import "./header.scss";
@import "./controllers.scss";
@import "./countries.scss";
@import "./countrie-details.scss";

:root {
  /*Dark Mode*/
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlue: hsl(207, 26%, 17%);
  --veryBlue: hsl(200, 15%, 8%);

  /*Light mode*/
  --darkGray: hsl(0, 0%, 52%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

  --fadeTransition: background-color 0.2s ease-out;
  --fadeText: color 0.2s ease-in;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--fontColor);
  background-color: var(--veryLightGray);
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans";
  transition: var(--fadeTransition), var(--fadeText);

  &.dark {
    background-color: var(--veryDarkBlue);
    color: var(--white);
  }
}

p {
  font-size: 10px;
}

.wrapper {
  margin-left: 1.5em;
  margin-right: 1.5em;
}
