.controllers-filter {
  margin-top: 4em;
  box-shadow: 0 1px 10px var(--darkBlue);
  border-radius: 5px;
  width: 70%;
  min-width: 200px;
  max-width: 300px;
  padding: 1em 2em;
  position: relative;
  background-color: var(--elementsColor);
  transition: var(--fadeTransition);
  body.dark & {
    background-color: var(--darkBlue);
  }

  .drop-down-region {
    display: none;
    &:checked {
      & ~ .options-container {
        display: block;
      }
    }
  }

  .icon {
    position: relative;
    left: 30%;
    cursor: pointer;
  }

  .options-container {
    background-color: var(--veryLightGray);
    top: 3em;
    left: 0;
    position: absolute;
    width: 100%;
    margin-top: 1em;
    display: none;
    box-shadow: 0 1px 10px var(--darkBlue);
    border-radius: 5px;
    overflow-y: hidden;
    z-index: 10;
    body.dark & {
      background-color: var(--darkBlue);
    }
    ul {
      padding: 0;
    }

    .item {
      list-style: none;
      a {
        text-decoration: none;
        font-weight: 300;
        color: var(--textColor);
        display: block;
        padding: 0.5em 2em;
        body.dark & {
          color: var(--white);
        }

        &:hover {
          background-color: var(--darkGray);
        }
      }
    }
  }
}
