.header {
  background-color: var(--veryLightGray);
  box-shadow: 0 1px 10px var(--darkBlue);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  transition: var(--fadeTransition);
}
body.dark .header {
  background-color: var(--darkBlue);
}
.header h1 {
  font-size: 1em;
}
.header p {
  font-weight: 600;
  font-size: 1em;
}
.header p i {
  margin-right: 10px;
  transition: all 0.2s ease-in;
}
.header p i:hover {
  cursor: pointer;
  transform: rotateZ(20deg) scale(2);
}

.controllers-filter {
  margin-top: 4em;
  box-shadow: 0 1px 10px var(--darkBlue);
  border-radius: 5px;
  width: 70%;
  min-width: 200px;
  max-width: 300px;
  padding: 1em 2em;
  position: relative;
  background-color: var(--elementsColor);
  transition: var(--fadeTransition);
}
body.dark .controllers-filter {
  background-color: var(--darkBlue);
}
.controllers-filter .drop-down-region {
  display: none;
}
.controllers-filter .drop-down-region:checked ~ .options-container {
  display: block;
}
.controllers-filter .icon {
  position: relative;
  left: 30%;
  cursor: pointer;
}
.controllers-filter .options-container {
  background-color: var(--veryLightGray);
  top: 3em;
  left: 0;
  position: absolute;
  width: 100%;
  margin-top: 1em;
  display: none;
  box-shadow: 0 1px 10px var(--darkBlue);
  border-radius: 5px;
  overflow-y: hidden;
  z-index: 10;
}
body.dark .controllers-filter .options-container {
  background-color: var(--darkBlue);
}
.controllers-filter .options-container ul {
  padding: 0;
}
.controllers-filter .options-container .item {
  list-style: none;
}
.controllers-filter .options-container .item a {
  text-decoration: none;
  font-weight: 300;
  color: var(--textColor);
  display: block;
  padding: 0.5em 2em;
}
body.dark .controllers-filter .options-container .item a {
  color: var(--white);
}
.controllers-filter .options-container .item a:hover {
  background-color: var(--darkGray);
}

.controllers {
  margin-top: 10em;
  position: relative;
}
.controllers i {
  font-size: 1.6em;
  opacity: 0.7;
  position: relative;
  left: 10%;
  color: var(--textColor);
}
body.dark .controllers i {
  color: var(--white);
}
.controllers-search {
  height: 4em;
  box-shadow: 0 1px 10px var(--darkBlue);
  border-radius: 5px;
  transition: var(--fadeTransition);
  background-color: var(--veryLightGray);
}
body.dark .controllers-search {
  background-color: var(--darkBlue);
}
.controllers-search-input {
  width: 83%;
  height: 100%;
  border: none;
  transform: translateX(15%);
  position: relative;
  padding: 1em;
  font-size: 1em;
  background-color: var(--inputColor);
  transition: var(--fadeTransition);
}
body.dark .controllers-search-input {
  background-color: var(--darkBlue);
  color: var(--white);
}
.controllers-search-input::placeholder {
  font-size: 1.2em;
  color: var(--textColor);
  opacity: 0.8;
}
body.dark .controllers-search-input::placeholder {
  color: var(--white);
}

#main {
  width: 200px;
  height: 200px;
}
#main:hover {
  cursor: pointer;
}

.countries-container {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-template-rows: minmax(min-content, 320px);
  row-gap: 40px;
  column-gap: 80px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-content: center;
  width: 80%;
}
.countries-container:hover {
  cursor: pointer;
}
.countries-container .countries-card {
  box-shadow: 0 0 2px var(--darkBlue);
  border-radius: 5px;
  background-color: var(--elementsColor);
  transition: var(--fadeTransition);
}
body.dark .countries-container .countries-card {
  background-color: var(--darkBlue);
}
.countries-container .countrie-card-header img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-width: 100%;
  width: 100%;
  height: 200px;
  max-height: 100%;
  object-fit: cover;
}
.countries-container .countrie-card-body {
  padding: 1em;
}
.countries-container .countrie-card-body p {
  margin: 0;
  font-size: 0.9em;
}
.countries-container .countrie-card-body p span {
  font-weight: 800;
}
.countries-container .countrie-card-body .countrie-name {
  font-size: 1.3em;
  font-weight: 800;
}
.countries-container .countrie-card-body .countrie-info {
  margin-top: 0.8em;
}

.countrie-container-details {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.countrie-detail {
  position: fixed;
  background-color: var(--veryLightGray);
  left: 0;
  right: 0;
  height: 88vh;
  top: 100px;
  transform: translateX(-100vw);
  transition: transform 0.5s ease-in;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.dark .countrie-detail {
  background-color: var(--veryDarkBlue);
}
.countrie-detail .countrie-details-container {
  display: flex;
  flex-direction: column;
}
.countrie-detail .countrie-details-container p {
  font-size: 0.7em;
}
.countrie-detail .countrie-details-container p span {
  font-weight: 600;
}
.countrie-detail .btn-back {
  text-decoration: none;
  font-size: 1em;
  color: var(--textColor);
  padding: 0.3em 2em;
  margin-left: 1.5em;
  box-shadow: 0 1px 5px var(--darkGray);
  margin-top: 1em;
  width: 100px;
  align-self: flex-start;
}
body.dark .countrie-detail .btn-back {
  color: var(--white);
}
.countrie-detail .countrie-container {
  height: 100%;
  width: 90%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.countrie-detail .countrie-container .countrie-flag-container {
  width: 100%;
  height: 200px;
}
.countrie-detail .countrie-container .countrie-flag-container img {
  width: 100%;
  height: 100%;
}
.countrie-detail .border-countries-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.countrie-detail .border-countries-container .border-countrie {
  text-decoration: none;
  font-size: 0.7em;
  color: var(--textColor);
  margin-left: 10px;
  margin-top: 10px;
  text-align: center;
  padding: 0.4em 1.6em;
  box-shadow: 0 1px 5px var(--darkBlue);
}
body.dark .countrie-detail .border-countries-container .border-countrie {
  color: var(--white);
  box-shadow: 0 1px 2px var(--white);
}
.countrie-detail .countries-border p {
  font-size: 1em;
  font-weight: 600;
}

.show-details {
  transform: translateX(0);
}

.display-none {
  display: none;
}

.display-grid {
  display: grid;
}

.position {
  position: absolute;
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  align-items: center;
  align-content: flex-start;
}
.message-container .error-icon {
  color: darkgray;
  font-size: 4em;
  margin: 0;
}
.message-container .error-message {
  color: darkgray;
  font-size: 2em;
  margin: 0;
}

.countrie-name {
  font-size: 1.5em !important;
  font-weight: 800 !important;
}

:root {
  /*Dark Mode*/
  --darkBlue: hsl(209, 23%, 22%);
  --veryDarkBlue: hsl(207, 26%, 17%);
  --veryBlue: hsl(200, 15%, 8%);
  /*Light mode*/
  --darkGray: hsl(0, 0%, 52%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  --fadeTransition: background-color 0.2s ease-out;
  --fadeText: color 0.2s ease-in;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--fontColor);
  background-color: var(--veryLightGray);
  padding: 0;
  margin: 0;
  font-family: "Nunito Sans";
  transition: var(--fadeTransition), var(--fadeText);
}
body.dark {
  background-color: var(--veryDarkBlue);
  color: var(--white);
}

p {
  font-size: 10px;
}

.wrapper {
  margin-left: 1.5em;
  margin-right: 1.5em;
}

/*# sourceMappingURL=main.css.map */
